################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vibez/.vs
/Vibez/Vibez/bin/Debug/net7.0
/Vibez/Vibez/obj
/Vibez/.vs
/Vibez/Vibez/.vs
/Vibez/Vibez/appsettings.json
/Vibez/Vibez/Program.cs
