@using Vibez.Data.Models
@using Vibez.Data.Service

@inject IFriendService FriendService
@inject IEventService EventService

@if (IsShown)
{
    <div class="modal show" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Warning!</h2>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px">Are you sure to delete?</p>
                    <button class="btn btn-danger" style="align-content: end" @onclick="SubmitDeleteClick">Delete</button>
                    <button class="btn btn-secondary" style="align-content: end" @onclick="CancelDelete">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback CloseCallback { get; set; }
    [Parameter] 
    public bool IsShown { get; set; } = false;
    [Parameter] 
    public bool SubmitDelete { get; set; } = false;
    [Parameter]
    public int? SelectedFriendId { get; set; }
    [Parameter]
    public int? SelectedEventId { get; set; }

    private void SubmitDeleteClick()
    {
        SubmitDelete = true;
        if (SelectedFriendId != null)
        {
            FriendService.RemoveFriendById((int)SelectedFriendId);
        }

        if (SelectedEventId != null)
        {
            EventService.DeleteEventById((int)SelectedEventId);

        }

        IsShown = false;
        StateHasChanged();
    }

    private async Task CancelDelete()
    {
        await CloseCallback.InvokeAsync();
    }
}