@using Vibez.Data.Service

@inject IFriendService FriendService
@inject IEventService EventService

@if(IsShown)
{
    <div class="modal show" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Warning!</h2>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px">Are you sure to delete?</p>
                    <div style="text-align:end">
                        <button class="btn btn-danger" @onclick="SubmitDeleteClick">Delete</button>
                        <button class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback CloseCallback { get; set; }
    [Parameter]
    public bool IsShown { get; set; } = false;
    [Parameter]
    public int? SelectedFriendId { get; set; }
    [Parameter]
    public int? SelectedEventId { get; set; }

    private async Task SubmitDeleteClick()
    {
        if(SelectedFriendId != null)
        {
            await FriendService.RemoveFriendById((int)SelectedFriendId);
        }

        if(SelectedEventId != null)
        {
            await EventService.DeleteEventById((int)SelectedEventId);
        }

        await CloseCallback.InvokeAsync();
    }

    private async Task CancelDelete()
    {
        await CloseCallback.InvokeAsync();
    }
}