<h3>HomePage</h3>

<style>
    .header {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid #ddd;
    }

    .button-row {
        display: flex;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px !important; 
        cursor: pointer;
        margin: 20px !important
    }
</style>

<div class="header">
    <div class="button-row">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" autocomplete="off" checked>
            <label class="btn btn-outline-primary button" for="btnradio1">All events</label>

            <input type="radio" class="btn-check" autocomplete="off">
            <label class="btn btn-outline-primary button" for="btnradio2">Upcoming</label>

            <input type="radio" class="btn-check" autocomplete="off">
            <label class="btn btn-outline-primary button" for="btnradio3">Past</label>
        </div>
    </div>
</div>

@code {

}
