@page "/homePage"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Vibez.Data.Models
@using Vibez.Data.Service

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IEventService eventService
@inject IApplicationUserService applicaionUserService

<h3>Vibezz</h3>

@*style defining*@
<style>
    .header {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid #ddd;
    }

    .button-row {
        display: flex;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .button {
        padding: 10px;
        background-color: #8c74ac;
        color: white;
        border: none;
        border-radius: 5px !important;
        cursor: pointer;
        margin: 20px !important;
    }

        .button:hover {
            background-color: #dcc4e4;
            transition: 0.7s;
        }
</style>

@if(!isAuthenticated)
{
    <div>
        <p>Please sign in or register to use the application!</p>
    </div>
}
else
{
    <div class="header">
        <div class="button-row">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" autocomplete="off" checked>
                <label class="btn button" for="btnradio1" @onclick=GetAllEventsAsync>All events</label>

                <input type="radio" class="btn-check" autocomplete="off">
                <label class="btn button" for="btnradio2" @onclick=GetAllUpcomingEventsAsync>Upcoming</label>

                <input type="radio" class="btn-check" autocomplete="off">
                <label class="btn button" for="btnradio3" @onclick=GetAllPastEventsAsync>Past</label>
            </div>
        </div>
    </div>
}

@code {
    private List<Event> eventlist = new();
    private AuthenticationState? authstate;
    private Event? newEvent;

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        isAuthenticated = authstate.User.Identity.IsAuthenticated;

        try
        {
            if(isAuthenticated)
            {
                // just for testing right now
                var currentUser = await applicaionUserService.GetApplicationUserByEmail(authstate.User.Identity.Name);

                var guestList = new List<IdentityUser?>();
                guestList.Add(currentUser);
                guestList.Add(currentUser);

                await eventService.AddEvent(new Event()
                    {
                        CreatorName = authstate.User.Identity.Name,
                        CordinatesLatitude = 47.264427185058594,
                        CordinatesLongitude = 11.358067512512207,
                        Date = DateTime.Now,
                        EventName = "Test event",
                        LocationName = "Test location",
                        Notes = "some notes",
                        ParticipantCount = 2,
                        IdentityUsers = guestList 
                    });

                // eventlist = await eventService.GetAllUserEvents(authstate.User.Identity.Name);
            }
        }
        catch(Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private async Task GetAllEventsAsync()
    {
        await RefreshData();
    }

    private async Task GetAllUpcomingEventsAsync()
    {
        throw new NotImplementedException();
    }

    private async Task GetAllPastEventsAsync()
    {
        throw new NotImplementedException();
    }

    private async Task RefreshData()
    {
        // eventlist = await eventService.GetAllUserEvents(authstate.User.Identity.Name);
    }
}
